---
import SingleArticleLayout from '@layouts/SingleArticleLayout.astro';
import Button from '@components/Button.astro';
import directus from '../../../lib/directus';
import { readItems } from '@directus/sdk';
import { injectDataIntoContent } from 'directus-extension-flexible-editor/content';
import BodyContent from '@components/TipTapRender/BodyContent';
import { TipTapRender } from '@components/TipTapRender/TipTapRender';
import Hero from '@components/Hero.astro';
import type { PageHero } from 'env';

export async function getStaticPaths() {
  const pages = await directus.request(
    readItems('articles', {
      fields: [
        'id',
        'title',
        'slug',
        'body_content',
        'editor_nodes.id',
        'editor_nodes.collection',
        'hero.item.heading',
        'hero.item.content',
        'hero.item.image',
        'seo',
        { editor_nodes: ['*.*.*.*'] },
      ],
    })
  );

  const cleanPages = pages.map((page) => {
    injectDataIntoContent(page.editor_nodes, page.body_content);

    return page;
  });
  console.log(cleanPages)


  return cleanPages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

const page = Astro.props;

console.log(page)
---

<SingleArticleLayout
  title={page.title}
  seo={{
    title: page.seo?.title || page.title,
    meta_description: page.seo?.meta_description,
    og_image: page.seo?.og_image,
  }}
>
  <Hero
    pageHero={{
      id: page.id,
      title: page.title,
      headline: page.hero[0].item.heading,
      rich_text: page.hero[0].item.content,
      image: page.hero[0].item.image,
    }}
  />
  <div class="overflow-auto">
    <TipTapRender handlers={BodyContent} node={page.body_content} />
  </div>

  <div>
    <Button>Return to Case Studies</Button>
  </div>
</SingleArticleLayout>
