---
import directus from '@directus/directus';
import { readSingleton } from '@directus/sdk';

import Social from '@components/ui/Social';
import type { SocialsType } from 'env';
import Container from '@components/layout/Container.astro';

const socialMedia = await directus.request(
  readSingleton('social_media')
);

---

<div class="bg-green-50 px-8 py-10 md:p-12 text-center">
  <Container removeMargins>
    <div>
      <h3 class="pb-8">{socialMedia.title}</h3>
      <p>{socialMedia.description}</p>
      <div class="flex mt-8 justify-around">
        <div class="flex gap-6 text-3xl">
          {socialMedia.platforms.map((social: SocialsType) => (
            <Social key={social.platform} social={social} size={6} />
          ))}
        </div>
      </div>
    </div>
  </Container>
</div>


