@theme {
  --color-gray-50: #f2f3f4;
  --color-gray-100: #d7dadb;
  --color-gray-200: #c3c8ca;
  --color-gray-300: #a8afb2;
  --color-gray-400: #97a0a3;
  --color-gray-500: #7d888c;
  --color-gray-600: #727c7f;
  --color-gray-700: #596163;
  --color-gray-800: #454b4d;
  --color-gray-900: #35393b;

  --color-light-teal-50: #e7f7f8;
  --color-light-teal-100: #b4e7ea;
  --color-light-teal-200: #90dcdf;
  --color-light-teal-300: #5dccd1;
  --color-light-teal-400: #3dc2c8;
  --color-light-teal-500: #0db3ba;
  --color-light-teal-600: #0ca3a9;
  --color-light-teal-700: #097f84;
  --color-light-teal-800: #076266;
  --color-light-teal-900: #054b4e;

  --color-orange-50: #fceceb;
  --color-orange-100: #f7c5bf;
  --color-orange-200: #f3a9a1;
  --color-orange-300: #ed8276;
  --color-orange-400: #e9695b;
  --color-orange-500: #e44432;
  --color-orange-600: #cf3e2e;
  --color-orange-700: #a23024;
  --color-orange-800: #7d251c;
  --color-orange-900: #601d15;

  --color-purple-50: #efecf3;
  --color-purple-100: #ccc3d9;
  --color-purple-200: #b4a6c6;
  --color-purple-300: #917dac;
  --color-purple-400: #7c649c;
  --color-purple-500: #5b3d83;
  --color-purple-600: #533877;
  --color-purple-700: #412b5d;
  --color-purple-800: #322248;
  --color-purple-900: #261a37;

  --color-teal-50: #e6f2f3;
  --color-teal-100: #b1d5db;
  --color-teal-200: #8bc1c9;
  --color-teal-300: #55a5b1;
  --color-teal-400: #3594a1;
  --color-teal-500: #02798a;
  --color-teal-600: #026e7e;
  --color-teal-700: #015662;
  --color-teal-800: #01434c;
  --color-teal-900: #01333a;

  --color-yellow-50: #fef8ed;
  --color-yellow-100: #fceac6;
  --color-yellow-200: #fae0ab;
  --color-yellow-300: #f8d284;
  --color-yellow-400: #f7c96d;
  --color-yellow-500: #f5bc48;
  --color-yellow-600: #dfab42;
  --color-yellow-700: #ae8533;
  --color-yellow-800: #876728;
  --color-yellow-900: #674f1e;

  --color-link: #4294f7;
}

@theme inline {
  --color-brand-primary: var(--color-teal-500);
  --color-brand-secondary: var(--color-orange-500);
  --color-brand-tertiary: var(--color-light-teal-500);
  --color-brand-gray-light: var(--color-gray-300);
  --color-brand-gray: var(--color-gray-500);
  --color-brand-dark-accent: var(--color-purple-500);
  --color-brand-emphasis: var(--color-yellow-500);
}
