@theme {
    --color-gray-50: #F2F3F4;
    --color-gray-100: #D7DADB; 
    --color-gray-200: #C3C8CA; 
    --color-gray-300: #A8AFB2; 
    --color-gray-400: #97A0A3; 
    --color-gray-500: #7D888C; 
    --color-gray-600: #727C7F;
    --color-gray-700: #596163; 
    --color-gray-800: #454B4D; 
    --color-gray-900: #35393B;

    --color-light-teal-50: #E7F7F8;
    --color-light-teal-100: #B4E7EA; 
    --color-light-teal-200: #90DCDF; 
    --color-light-teal-300: #5DCCD1; 
    --color-light-teal-400: #3DC2C8; 
    --color-light-teal-500: #0DB3BA; 
    --color-light-teal-600: #0CA3A9;
    --color-light-teal-700: #097F84; 
    --color-light-teal-800: #076266; 
    --color-light-teal-900: #054B4E;

    --color-orange-50: #FCECEB;
    --color-orange-100: #F7C5BF;
    --color-orange-200: #F3A9A1;
    --color-orange-300: #ED8276;
    --color-orange-400: #E9695B; 
    --color-orange-500: #E44432; 
    --color-orange-600: #CF3E2E;
    --color-orange-700: #A23024; 
    --color-orange-800: #7D251C; 
    --color-orange-900: #601D15;

    --color-purple-50: #EFECF3; 
    --color-purple-100: #CCC3D9; 
    --color-purple-200: #B4A6C6; 
    --color-purple-300: #917DAC; 
    --color-purple-400: #7C649C; 
    --color-purple-500: #5B3D83; 
    --color-purple-600: #533877;
    --color-purple-700: #412B5D; 
    --color-purple-800: #322248; 
    --color-purple-900: #261A37;

    --color-teal-50: #E6F2F3;
    --color-teal-100: #B1D5DB; 
    --color-teal-200: #8BC1C9; 
    --color-teal-300: #55A5B1; 
    --color-teal-400: #3594A1; 
    --color-teal-500: #02798A; 
    --color-teal-600: #026E7E;
    --color-teal-700: #015662; 
    --color-teal-800: #01434C; 
    --color-teal-900: #01333A;

    --color-yellow-50: #FEF8ED;
    --color-yellow-100: #FCEAC6; 
    --color-yellow-200: #FAE0AB; 
    --color-yellow-300: #F8D284; 
    --color-yellow-400: #F7C96D; 
    --color-yellow-500: #F5BC48; 
    --color-yellow-600: #DFAB42;
    --color-yellow-700: #AE8533; 
    --color-yellow-800: #876728; 
    --color-yellow-900: #674F1E;
}
