---
interface Props {
  class?: string;
  removeMargins?: boolean;
}
const { class: className, removeMargins = false } = Astro.props;
---

<div
  class:list={[
    'max-w-screen-xl w-11/12 mx-auto',
    className,
    !removeMargins && 'mb-36',
  ]}
>
  <slot />
</div>
