---
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
import PageHeader from '@components/PageHeader.astro';

---

<Layout title="Documentation">
	<Container>
        <PageHeader title="Lorem ipsum dolor sit amet consectetur">
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Accumsan in amet urna orci id. Ac sapien fermentum nisi senectus a tincidunt mi. Purus in integer convallis nec leo nulla eleifend quam. At odio faucibus neque auctor sed facilisis. Suscipit cursus diam consequat viverra id phasellus urna tellus. Arcu consectetur bibendum molestie a nunc. Nisl ac proin massa nunc massa metus.
                </p>
                <p>
                    In bibendum enim sed risus aliquet pharetra. Felis quis amet quam eu proin eros a. Libero ultricies elit lectus potenti. Erat posuere quis felis pharetra urna faucibus eget duis at. Aliquet adipiscing lectus urna interdum magna aliquam iaculis amet interdum.
                </p>
            </div>
        </PageHeader>
	</Container>
</Layout>
