---
import Container from '@components/Container.astro';
import Hero from '@components/Hero.astro';
import directus from '@directus/directus';
import { readItems, readSingleton } from '@directus/sdk';
import getPageHero from '@utils/getPageHero';
import { FileDown } from 'lucide-react';
import PageLayout from '../layouts/PageLayout.astro';

import DonateButton from '@components/DonateButton';
import getPageSeo from '@utils/getPageSeo';

const global = await directus.request(readSingleton('General'));
const files = await directus.request(readItems('files'));
const fileCategories = await directus.request(readItems('file_categories'));

// console.log(files[0].description.blocks[0].data.text)

const assetBaseUrl = `${import.meta.env.DIRECTUS_URL}assets/`;

const slug = Astro.routePattern.substring(1);
const seo = await getPageSeo(slug);

const pageHero = await getPageHero(slug);
---

<PageLayout
	title={`Donate | ${global.site_name} - ${global.site_subheader}`}
	seo={seo}
>
	<div class="my-24">
		<Container>
			<DonateButton client:load />
			<!-- <div
				class="payments-iframe-container"
				data-src="https://app.hubspot.com/payments/H69fKpvV?referrer=PAYMENT_LINK_EMBED&layout=embed-full"
			>
			</div> -->
			<!-- <script
				is:inline
				type="text/javascript"
				src="https://static.hsappstatic.net/payments-embed/ex/PaymentsEmbedCode.js"
			></script> -->
		</Container>
	</div>
</PageLayout>
