---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import directus from "../../lib/directus";
import { readSingleton } from "@directus/sdk";

// const global = await directus.request(readSingleton("global"));
const global = { title: "Lorem Ipsum", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"}
---

<Layout title={global.title}>
  <main>
    <div>
      <h1>{global.title}</h1>
      <p>{global.description}</p>
    </div>
  </main>
</Layout>