---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import directus from "../../lib/directus";
import { readItems } from "@directus/sdk";

// const global = await directus.request(readSingleton("global"));
const global = { title: "Lorem Ipsum", description: "" }

// const result = await directus.request(readItems('General'));

// console.log(result)

---

<Layout title={global.title}>
  <main>
    <div>
      <h1>{global.title}</h1>
      <p>{global.description}</p>
    </div>
  </main>
</Layout>