---
import type { Button } from 'env';
import { Heart, Mail } from 'lucide-react';

interface Props {
  class?: string;
  button?: Button;
  icon?: 'heart' | 'envelope';
}

const { class: className, button, icon } = Astro.props;

const defaultClass = '';
const variantClasses = {
  primary:
    'bg-gradient-to-r from-yellow-500 to-orange-600 text-white shadow-none focus:ring-4',
  secondary:
    'bg-gradient-to-r from-indigo-700 to-purple-600 text-white shadow-none focus:ring-4 ',
  muted: '',
};

const iconVariant = {
  heart: `<Heart color="white" fill="white" />`,
  envelope: `<Mail color="white" />`,
};
---

<button
  type="button"
  class:list={[
    'px-6 py-3 rounded-md font-bold',
    className,
    button && variantClasses[button.variant],
  ]}
>
  {icon && iconVariant[icon]}
</button>
