---
import { Icon } from 'astro-icon/components';

import Container from "./Container.astro"

---

<div class="bg-green-50 px-8 py-10 md:p-12 text-center">
  <Container>
    <div>
      <h3 class="pb-8">Follow us on social media</h3>
      <p>Follow us on social media to get fast updates on NumFOCUS’s projects, programs and activity Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
      <div class="flex mt-8 justify-around">
        <div class="flex gap-6 text-3xl">
          <a class="logo" aria-label="facebook" href="/">
            <Icon name="facebook" class="hover:opacity-50 transition-opacity" />
          </a>
          <a class="logo" aria-label="instagram" href="/">
            <Icon name="instagram" class="hover:opacity-50 transition-opacity" />
          </a>
          <a class="logo" aria-label="x" href="/">
            <Icon name="x" class="hover:opacity-50 transition-opacity" />
          </a>
          <a class="logo" aria-label="linked in" href="/">
            <Icon name="linked_in" class="hover:opacity-50 transition-opacity" />
          </a>
          <a class="logo" aria-label="youtube" href="/">
            <Icon name="youtube" class="hover:opacity-50 transition-opacity" />
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>


