---
import { Icon } from 'astro-icon/components'
import Container from './Container.astro'

---

<footer class="bg-purple-500 py-6">
    <Container>
        <div class="">
            <a class="logo" aria-label="home" href="/">
                <Icon name="logo_white" class="text-4xl" />
            </a>
        </div>
    </Container>  
</footer>


<style>
    
</style>