---
import { readSingleton } from '@directus/sdk';
import { twMerge } from 'tailwind-merge';
import directus from '../../lib/directus';

import NumLogo from '@assets/icons/logo_white.svg';
import FooterBadge from '@assets/images/guidestar_badge.svg';
import { FooterMenu } from '@components/Atoms/Menus';
import Container from '@components/Container.astro';
import SubscribeForm from '@components/SubscribeForm';
import getMenuItems from '@utils/getMenuItems';

const global = await directus.request(readSingleton('General'));
const menuItems = await getMenuItems('Navigation');

const footerSectionStyle =
  'flex flex-row justify-between gap-12 border-b-1 pb-8';
---

<footer class="bg-brand-gray-light py-12 text-black">
  <Container>
    <div class="flex flex-col gap-10">
      <div class={twMerge(footerSectionStyle, ' flex-col md:flex-row')}>
        <div>
          <a
            class="logo text-black hover:text-brand-teal transition"
            aria-label="home"
            href="/"
          >
            <NumLogo class="" />
          </a>
          <div class="flex py-10 gap-8">
            <div class="font-normal">
              <p class="font-heading font-bold">Contact Us</p>
              <div set:html={global.contact} />
            </div>
            <FooterBadge />
          </div>
        </div>

        <div
          class="flex flex-row grow-1 justify-between lg:justify-around gap-8 flex-nowrap"
        >
          <FooterMenu menuItems={menuItems} menuTitle="Footer Menu 1" />
          <FooterMenu
            menuItems={[...menuItems].reverse().splice(1)}
            menuTitle="Footer Menu 2"
          />
          <FooterMenu
            menuItems={[...menuItems].splice(2)}
            menuTitle="Footer Menu 3"
          />
        </div>
      </div>
      <div class={twMerge(footerSectionStyle, `flex-col md:flex-row`)}>
        <div>
          <p class="font-bold pb-4">NumFOCUS Newsletter</p>
          <p>
            Subscribe to our mailing list for monthly updates on the latest news
            and events.
          </p>
        </div>
        <SubscribeForm client:load />
      </div>
      <div class={twMerge(footerSectionStyle, 'border-none')}>
        <p>© 2024 NumFOCUS, org. All rights reserved. License info etc.</p>
      </div>
    </div>
  </Container>
</footer>
