---
import { Icon } from 'astro-icon/components'

---

<footer class="bg-purple-500 px-8 py-4">
    <div class="">
        <a class="logo" aria-label="home" href="/">
            <Icon name="logo_white" class="text-4xl" />
        </a>
        Footer
    </div>
</footer>


<style>
    
</style>