---
import type { ComponentProps } from 'astro/types';

import { Icon } from 'astro-icon/components'
import Container from '@components/Container.astro'
import FooterMenu from '@components/FooterMenu.astro'

const menus: Array<ComponentProps<typeof FooterMenu>> = [
    {
        menuTitle: "Footer Menu",
        menuItems: [
            {
                title: 'Lorem',
                path: '/',
            },
            {
                title: 'Ipsum',
                path: '/',
            },
            {
                title: 'Dolor',
                path: '/',
            },
            {
                title: 'Lorem',
                path: '/',
            },
            {
                title: 'Ipsum',
                path: '/',
            },
            {
                title: 'Dolor',
                path: '/',
            }
        ]
    },
    {
        menuTitle: "Footer Menu 2",
        menuItems: [
            {
                title: 'Lorem',
                path: '/',
            },
            {
                title: 'Ipsum',
                path: '/',
            },
            {
                title: 'Dolor',
                path: '/',
            },
        ]
    },
    {
        menuTitle: "Footer Menu 3",
        menuItems: [
            {
                title: 'Lorem',
                path: '/',
            },
            {
                title: 'Ipsum',
                path: '/',
            },
            {
                title: 'Dolor',
                path: '/',
            },
            {
                title: 'Lorem',
                path: '/',
            },
            {
                title: 'Ipsum',
                path: '/',
            },
        ]
    },
]

---

<footer class="bg-purple-500 py-8 text-white">
    <Container>
        <div class="flex justify-between gap-3">
            <div>
                <a class="logo" aria-label="home" href="/">
                    <Icon name="logo_white" class="text-4xl" />
                </a>
                <div class="flex py-8">
                    <div>
                        <p class="font-bold">Contact Us</p>
                        <p>NumFOCUS</p>
                        <p>P.O. Box 90596</p>
                        <p>Austin, TX 78709</p>
                        <p>info@numfocus.org</p>
                        <p>+1 (512) 831-2870</p>
                    </div>
                </div>
            </div>
            {
                menus.map((menuProps) => (
                    <FooterMenu {...menuProps} />
                ))
            }
        </div>
    </Container>  
</footer>