---
import { Icon } from 'astro-icon/components'

---

<header>
    <div class="px-8 py-4 flex justify-between">
        <a class="logo" aria-label="home" href="/">
            <Icon name="logo" class="text-4xl" />
        </a>
        
        <nav class="flex justify-around">
            <a href="/">Lorem</a>
            <a href="/">Ipsum</a>
            <a href="/">Dolor</a>
        </nav>
    </div>
</header>

<style>
    
</style>