---
import { Icon } from 'astro-icon/components';

import Container from './Container.astro';
import Button from './Button.astro';
import { Heart } from 'lucide-react';
import type { Button as but } from 'env';

const menuItems = [
  {
    title: 'About',
    path: '/documentation',
  },
  {
    title: 'Projects',
    path: '/projects',
  },
  {
    title: 'Our Work',
    path: '/',
  },
  {
    title: 'Support',
    path: '/',
  },
  {
    title: 'Articles',
    path: '/',
  },
];

const button: but = {
  text: 'Donate',
  link: 'donate',
  variant: 'primary',
};
---

<header class="border border-b-[1px] border-teal-500">
  <Container>
    <div class="py-8 flex items-center">
      <a class="logo" aria-label="home" href="/">
        <Icon name="logo" class="text-5xl" />
      </a>
      <nav class="flex justify-around items-center gap-2 w-full">
        {
          menuItems.map(({ path, title }) => (
            <a
              href={path}
              class="font-semi-bold text-light-teal-800 hover:text-teal-800"
            >
              <span>{title}</span>
            </a>
          ))
        }
      </nav>
      <Icon name="search" class="text-4xl" />
      <Button button={button}
        ><span><Heart color="white" fill="white" />Donate</span></Button
      >
    </div>
  </Container>
</header>
