---
import { Icon } from 'astro-icon/components'

import Container from './Container.astro'

const menuItems = [
  {
    title: 'Lorem',
    path: '/',
  },
  {
    title: 'Ipsum',
    path: '/',
  },
  {
    title: 'Dolor',
    path: '/',
  },
  {
    title: 'Lorem',
    path: '/',
  },
  {
    title: 'Ipsum',
    path: '/',
  },
  {
    title: 'Dolor',
    path: '/',
  }
]

---

<header>
  <Container>
    <div class="py-8 flex items-center">
      <a class="logo" aria-label="home" href="/">
        <Icon name="logo" class="text-5xl" />
      </a>
      <nav class="flex justify-around items-center gap-2 w-full">
        {
          menuItems.map(({ path, title }) => (
            <a
              href={path}
              class="font-semi-bold text-light-teal-800 hover:text-teal-800"
            >
              <span>
                  {title}
              </span>
            </a>
          ))
        }
      </nav>
      <Icon name="search" class="text-4xl" />
    </div>
  </Container>
</header>