---
// This is the main layout file; all other layouts are enclosed in this one

import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';
import type { Seo } from 'env';
import getAssetUrl from '@utils/getAssetUrl';
import { Font } from 'astro:assets';
import '@styles/global.css';

interface Props {
  title: string;
  seo: Seo;
}

const { title, seo } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-lato" preload />
    <Font cssVariable="--font-pt-sans-caption" preload />
    <!-- SEO module -->
    <SEO
      title={seo.title}
      description={seo.meta_description}
      openGraph={{
        basic: {
          title: seo.title,
          type: 'website',
          image: getAssetUrl(seo.og_image),
          url: Astro.url,
        },
      }}
    />
    <!-- End SEO module -->
  </head>
  <body>
    <Navbar />
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
