---
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button.astro"
import directus from "../../../lib/directus";
import { readItems } from "@directus/sdk";
import Container from "@components/Container.astro";

export async function getStaticPaths() {
    const pages = await directus.request(readItems("case_studies"));
    return pages.map((page) => ({
        params: { slug: page.slug },
        props: page,
    }));
}

const page = Astro.props;

---

<Layout title={page.title}>
  <Container>
    <h1>{page.title}</h1>
    <div set:html={page.content} />

    <div>
      <Button>Return to Case Studies</Button>
    </div>
  </Container>
</Layout>